
html, body {
  color: white !important;
  margin: 0;
  padding: 0;
  font-family: 'Spartan', sans-serif !important;
  /* background-color: black; */
}

body{
	background-color: black;
}

canvas {
  display: block;
  position: fixed !important;
}

#nivel{
	background-color: white;
	color: black;
	width: 1%;
	/* max-height: 60px; */
	overflow: inherit;
}

#nivel p {
	font-size: 40px;
	margin: 65px 0px 30px 0;
	margin-left: 50px;

}
.descripcion{
    font-size: 25px;
    line-height: 32px;
}

#titulo{
	font-size: 80px;
	margin-left: 50px;
}
#descripcion {
	margin-left: 50px;
}

.col-8{
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    margin-left: 50px;
    line-height: 1.5em;
}
.info{
	line-height: 45px;
	margin-bottom: 10px;
}

#mainRow{
  margin: 0;
}
.row{
	margin-right: 0px !important;
}

.destruido{
	background-image: url(img/destruido.png);
	overflow: hidden;
	background-size: 100%;
	background-repeat: no-repeat;	
}
.lorenzo{
	background-image: url(img/lorenzo.jpg);
	overflow: hidden;
	background-size: 100%;
	background-repeat: no-repeat;
}
.alex{
	background-image: url(img/alexis.jpeg);
	overflow: hidden;
	background-size: 100%;
	background-repeat: no-repeat;
}

.instructor{
	margin-bottom: 50px !important;
	margin-left: 50px !important;
	min-height: 240px;
}

.submit {
    margin: 40px 0 40px 0;
    width: 100%;
    text-align: center;
}

.destruidoXs{
	width: 60%;
	height: 100px;
	background-image: url(img/destruido.png);
	overflow: hidden;
	background-size: 100%;
	background-repeat: no-repeat;	
	min-height: 200px;
	margin: 0 auto;
	display: none;
}

.lorenzoXs{
	width: 60%;
	height: 100px;
	background-image: url(img/lorenzo.jpg);
	overflow: hidden;
	background-size: 100%;
	background-repeat: no-repeat;	
	min-height: 200px;
	margin: 0 auto;
	display: none;
}

.alexXs{
	width: 60%;
	height: 100px;
	background-image: url(img/alexis.jpeg);
	overflow: hidden;
	background-size: 100%;
	background-repeat: no-repeat;	
	min-height: 200px;
	margin: 0 auto;
	display: none;
}

.bioXs{
	text-align: center;
	width: 80%;
	display: none;
}

@media only screen and (max-width: 412px) {
  #titulo{
  	font-size: 25px;
  }
  #nivel p {
	font-size: 20px;
	margin-top: 50px;
	margin-left: 40px;
}
.info {
    line-height: 22px;
    font-size: 15px;
}
.col-8{
    margin-left: 36px;
    width: 80%;
}
.descripcion {
    font-size: 13px;
    line-height: 18px;
}

.destruido{
	display: none;
}

.lorenzo{
	display: none;
}

.alex{
	display: none;
}

.destruidoXs{
	display: block;
}

.lorenzoXs{
	display: block;
}

.alexXs{
	display: block;
}

.bioXs{
	display: block;
}
.bio{
	display: none;
}

}

/* */

.loader {

	width: 100%;
	height: 100%;
	position: fixed;
	background: url('img/source.gif') 50% 50% rgb(0,0,0); 
	background-repeat: no-repeat;
   
}